div.content {
    margin-left: 200px;
}
div.side {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background: beige;
    width: 180px;
    padding: 10px;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    color: #000;
}
.admform{
    margin:5%;
    border: 2px solid royalblue;
    border-radius: 25px;
    padding: 2%;
    
}
